@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.content {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--primary-white);
    font-size: 10vw;
    font-weight: 900;
    text-transform: uppercase;
}